#container {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 250ms;
}

#background-radial {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient( at center, rgba(68, 68, 68, 0.83), rgba(0, 0, 0, 0.08) );
}

#lublu {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#lublu span{
  font-size: 82.3px;
  color: white;
}

#background-svg {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('./background.svg');
  background-size: 152px;
  opacity: 0.5;
  background-position: center top 100px;
}

.hide {
  pointer-events: none;
  opacity: 0;
}
.displaynone {
  display: none !important;
}
