#navBar {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 250ms;
}

#navBar.active {
    opacity: 1;
    pointer-events: all;
}

#navBar:hover .timer {
    transform: scale(1);
    opacity: 1;
}

#timeline {
    position: absolute;
    height: 20px;
    width: 95%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

#timefull {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 25%;
    width: 100%;
    margin: auto;
    border-radius: 1px;
    background-color: rgba(16, 16, 16, 0.60);
}

#timewatch {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 25%;
    width: 0%;
    margin: auto;
    border-radius: 1px;
    /* background-color: seagreen; */
}

#timepick {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    height: 10px;
    width: 4px;
    margin: auto;
    background-color: white;
    transition: 150ms;
    border-radius: 1px;
}


.timer {
    background-color: rgba(16, 16, 16, 0.6);
    transform: scale(0.9);
    pointer-events: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 17px;
    transition: 250ms;
    padding: 4px 8px;
    border-radius: 3px;
    opacity: 0;
}

#timer1 {
    left: 5%;
}

#timer2 {
    right: 5%;
}

.timerSpan {
    transition: 250ms;
    color: white;
    font-size: 16px;
}

.timerSpanGray {
    color: #adadad;
};