#playerSettings {
    position: absolute;
    right: 0;
    top: 35px;
    width: 243px;
    /* background: rgba(23, 23, 23, 0.8); */
    display: flex;
    color: #dedede;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
    transition: 250ms;
    font-size: 0.8em;
}

#playerSettings.active {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
}

#renderEngineSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.track{
    background: rgba(33, 33, 33, 0.83);;
    margin-top: 1px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    outline: none;
}

.currentTrack span{
    color: #7a7a7a;
    height: fit-content;
    width: fit-content;
    max-width: 160px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.currentTrack svg{
    fill: #383838;
    margin: 5px;
}

.currentTrack{
    pointer-events: none;
    outline: none;
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 30px;
    align-items: center;
}
.trackList{
    overflow: scroll;
    height: 0;
    max-height: fit-content;
    width: 100%;
    transition: 250ms;
}
.trackList.active{
    height: 150px;
}
.trackList .listItem{
    display: flex;
    height: 30px;
    width: 100%;
    transition: 250ms;
    background-color: rgba(45, 45, 45, 0.68);
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    cursor: pointer;
}
.trackList .listItem.active{
   background: rgba(39, 39, 39, 0.68);
}
.trackList  .listItem span{
    pointer-events: none;
    color: #7a7a7a;
    height: fit-content;
    width: fit-content;
    max-width: 160px;
    margin: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



