#player {
    height: 100%;
    width: 100%;
    transition: 250ms;
    background: rgba(0, 0, 0, 0.231);
}

#playerLoader {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    transition: 250ms;
    transform: scale(0.7);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

#playerLoader.active {
    transform: scale(1);
    opacity: 1;
}

#playerLoader span{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.44);
    background: #404040;
    padding: 3px 7px;
    border-radius: 5px;
    opacity: 0;
}

#playerLoader span.active{
    opacity: 0.8;
}

#player.fullscreen {
    background: black;
}

#renderContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

#render {
    transition: 250ms;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0;
    outline: none;
}

.cropVideo {
    object-fit: cover !important;
}