#playlistMenu {
    height: 0;
    width: 640px;
    margin: 0 auto;
    position: fixed;
    background-color: rgba(21, 21, 21, 0.45);
    left: 0;
    right: 0;
    top: 35px;
    bottom: 0;
    transition: 250ms;
    z-index: 2;
    pointer-events: none;
}

#playlistMenu.active {
    pointer-events: all;
    height: calc(100% - 90px);
}

#playlistInput {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 37px;
    opacity: 0;
    transform: scale(0.9);
    transition: 250ms;
}

#playlistInput.active {
    opacity: 1;
    transform: scale(1);
}

#inputGradient {
    position: absolute;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, rgb(178, 147, 255), rgb(86, 229, 229), rgb(254, 255, 184), rgb(87, 230, 230), rgb(178, 148, 255), rgb(87, 230, 230));
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

#inputGradient.loading {
    background: linear-gradient(to right, rgb(178, 148, 255), rgb(87, 230, 230), rgb(255, 99, 71), rgb(87, 230, 230), rgb(255, 99, 71), rgb(178, 148, 255), rgb(87, 230, 230));
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

#playlistInputSpan {
    opacity: 1;
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 22px;
    color: rgb(226, 226, 226);
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms
}

#playlistInputField {
    transition: 200ms;
    font-size: 22px;
    outline: none;
    color: rgb(226, 226, 226);
    background: transparent;
    border-style: none;
    width: 100%;
    height: 85%;
}

#playlist {
    transition: 250ms;
    padding: 0;
    margin: auto;
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 0;
    list-style: none;
}

.playlistListItem {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 2px;
    background: rgba(53, 53, 53, 0.82);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    transition: 250ms;
}

.playlistListItem.metadata {
    opacity: 0.5;
    pointer-events: all;
    transform: scale(1);
}

.playlistListItem.ready {
    opacity: 1;
}

.playlistListItem.tryActive {
    opacity: 0.7;
}

.playlistListItem.active {
    background: seagreen;
}

.playlistListItemName {
    pointer-events: none;
    color: #eeeeee;
    margin: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
}
.playlistListItemName2 {
    pointer-events: none;
    color: #939393;
    margin: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
}