#roomMenu {
    width: 127px;
    height: 100%;
    transition: 250ms;
}
#roomNavigation {
    position: absolute;
    width: 127px;
    height: 100%;
    display: block;
    opacity: 1;
}
#roomDisplay {
    position: absolute;
    width: 127px;
    height: 100%;
    display: none;
    opacity: 1;
}
#roomId {
    position: absolute;
    width: 94px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(53, 53, 53);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    cursor: pointer;
}
#roomId svg{
    fill: rgba(0, 0, 0, 0.459);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 4px;
}
#roomId span{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    color: rgba(255, 255, 255, 0.294);
    font-size: 17px;
    height: fit-content;
    width: fit-content;
}
#exitRoom-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 28px;
    width: 30px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #353535;
    transition: 250ms;
    cursor: pointer;
}

#exitRoom-btn:hover {
  background: #c34242;
}

#exitRoom-btn svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    fill: rgba(0, 0, 0, 0.459);
    transition: 250ms;
}

#exitRoom-btn:hover svg {
    fill: white
}

#roomMenuCreate {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 111px;
    overflow: hidden;
    transition: 250ms;
}
#roomMenuCreate span {
    position: absolute;
    height: 22px;
    width: max-content;
    padding: 3px 7px;
    background: linear-gradient(130deg, rgb(255, 62, 62), rgb(78, 215, 255));
    background-size: 153% auto;
    color: #ffffff;
    border-radius: 2px;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: 350ms;
}

#roomMenuCreate span:hover {
    background-position: right center;
}

#roomMenuJoin {
    position: absolute;
    height: 27px;
    width: 27px;
    transition: 150ms;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(58, 58, 58, 0.761);
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
}
#roomMenuJoin svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 28px;
    fill: rgba(251, 251, 251, 0.22);
    transition: 250ms;
}
#roomMenuJoin svg:hover {
    background-color: rgba(62, 62, 62, 0.631);
}
#roomMenuJoin input {
    position: absolute;
    left: 28px;
    transition: 200ms;
    font-size: 20px;
    outline: none;
    color: rgba(255, 255, 255, 0.33);
    background: rgba(213, 90, 90, 0);
    border-style: none;
    width: 95px;
    height: fit-content;
    top: 0px;
    bottom: 0;
    margin: auto;
}