#searchTab {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    margin: auto;
    width: 70%;
    min-width: 640px;
    height: 0;
    pointer-events: none;
    transition: 250ms;
    /* background-color: rgba(21, 21, 21, 0.45); */
    background-color: rgba(33, 33, 33, 0.89);;
    z-index: 2;
}

#searchTab.active {
    pointer-events: all;
    height: calc(100% - 90px);
}

#searchTabLoader {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 250ms;
    opacity: 0;
    pointer-events: none;
}

#searchTabInput {
    background-color: rgba(15, 15, 15, 0.85);
    /* background-color: rgba(15, 15, 15, 0.702); */
    transition:250ms;
    height: 30px;
    width: 90%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10px;
    opacity: 0;
    transform: scale(0.9);
    border-radius: 63px;
}

#searchTabInput.active {
    opacity: 1;
    transform: scale(1);
}

#searchTabInputSpan {
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 19px;
    color: rgba(226, 226, 226, 0.46);
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    transition: 250ms;
}

#searchTabInputField {
    transition: 200ms;
    font-size: 19px;
    outline: none;
    color: rgba(226, 226, 226, 0.46);
    border-style: none;
    width: 85%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} 

#searchlist {
    transition: 200ms;
    padding: 0;
    margin: auto;
    width: 100%;
    /* overflow: auto; */
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 0;
    list-style: none;
}

.searchListItem {
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 2px;
    background: #414141;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 250ms;
}

.searchListItem.active {
    opacity: 0.7;
    cursor: default;
}

.searchListItem.loading {
    pointer-events: none;
}

.searchListItem.hide {
    pointer-events: none;
    transform: scale(0.9);
    opacity: 0;
}

.searchListItemName {
    pointer-events: none;
    color: #909090;
    margin: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.searchListItemInfo {
    pointer-events: none;
    display: flex;
    align-items: center;
    
}
.searchListItemSize {
    color: #7d7d7d;
    background: #282828;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    white-space: nowrap;
}
.searchListItemSeeds {
    display: flex;
    align-items: center;
    color: #7d7d7d;
    background: #282828;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

#closeSearch {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 26px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 250ms;
}

#closeSearch svg {
    fill: rgba(255, 255, 255, 0.58)
}

#closeSearch:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.searchContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#tmdbItemInfo {
    height: 300px;
    width: 100%;
    position: relative;
    pointer-events: none;
}

.backdropTmdb {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.itemInfo {
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(23, 23, 23, 0.94);
}

.info_wrapper {
    padding: 0px 20px;
    height: 300px;
    width: -webkit-fill-available;
}

.title {
    margin: 5px;
    display: flex;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
}

.info_rate {
    display: flex;
    align-items: center;
}

.info_rate svg{
    fill: #fff536;
    top: 2px;
    position: relative;
}

.overview {
    margin: 5px;
    display: flex;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
}
.overview span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}