#titlebar {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 35px;
    background-color: rgba(23, 23, 23, 0.8);
    transition: 250ms;
}

.hideTitlebar {
    background: unset !important;
}

#dragbar {
    -webkit-app-region: drag;
    position: relative;
    top: 3px;
    height: 32px;
    flex-grow: 1;
    pointer-events: none;
}

#player-btn {
    transition: 250ms;
    display: flex;
    flex-direction: column;
    height: 35px;
    width: 70px;
    cursor: pointer;
    background-color: rgba(41, 41, 41, 0.631);
}
#player-btn span{
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: auto;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
#underline{
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, rgb(178, 147, 255), rgb(86, 229, 229), rgb(254, 255, 184), rgb(87, 230, 230), rgb(178, 148, 255), rgb(87, 230, 230));
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

#player-btn:hover {
    background-color: rgba(62, 62, 62, 0.631);
}

.tmdb-btn:hover svg {
    fill: rgba(251, 251, 251, 0.38);
}

.player-btn:hover svg {
    fill: rgba(251, 251, 251, 0.38);
}

#minimize-btn:hover svg {
    fill: rgba(251, 251, 251, 0.38);
}
#fullscreen-btn:hover svg {
    fill: rgba(251, 251, 251, 0.38);
}
#close-btn:hover svg {
    fill: tomato;
}

#search-btn svg{
    margin: 3px;
}
#search-btn input{
    border-style: none;
    outline: none;
    background-color: unset;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    height: 100%;
    width: 0;
    transition: 250ms;
}

#search-btn {
    justify-content: baseline;
}

#search-btn.hover {
    width: 160px;
}

#search-btn input.hover{
    width: 120px;
}

#search-btn.active svg{
    fill: steelblue;
}
#playlist-btn.active svg{
    fill: steelblue;
}

#settings-btn.active svg{
    transform: rotate(60deg);
}

.titlebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    transition: 250ms;
}
.titlebar-btn:hover {
    background-color: rgba(9, 9, 9, 0.38);
}

.titlebar-btn svg {
    transition: 250ms;
    fill: rgba(251, 251, 251, 0.22);
}