#tmdb {
    height: 100%;
    width: 100%;
    transition: 250ms;
}

#tmdbSpan {
    position: absolute;
    z-index: 10;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.26);
    left: 0;
    right: 0;
    top: 6px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    transition: 200ms;
    opacity: 0;
    pointer-events: none;
}

#tmdbDisplay {
    transition: 250ms;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    overflow: scroll;
}

#tmdbDisplay.hide {
    opacity: 0.5;
};

.tmdbHidePage {
    transform: scale(0.9);
    opacity: 0;
    pointer-events: none;
}

.tmdbItem {
    height: 230px;
    width: 160px;
    display: flex;
    transition: 250ms;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.tmdbItem:hover img{
    transform: scale(1.05)
}
.tmdbItem:hover {
    z-index: 1;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.28);
}
.tmdbItem img{
    pointer-events: none;
    transition: 250ms;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tmdbCategory {
    -webkit-app-region: no-drag;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: 35px;
    z-index: 1;
    transition: 250ms;
}

.tmdbCategory.hide {
    opacity: 0;
    pointer-events: none;
    -webkit-app-region: drag;
}

.tmdbCategoryItem {
    cursor: pointer;
    transition: 250ms;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.5);
    /* border-bottom-left-radius: 8px; */
}
.tmdbCategoryItem.active {
    background-color: rgba(142, 142, 142, 0.32);
}

.tmdb_background {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.82);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 250ms;
}

.tmdb_background.active {
    opacity: 1;
    pointer-events: all
}